
@{
    ViewBag.Title = "IzmenaAdmina";
}

<h2>Rezultat izmene podataka</h2>
<form action="/User/Preusmeri" method="post">
    <p> @ViewBag.Message</p>
    <input type="submit" value="Nazad" />
</form>

