
@{
    ViewBag.Title = "KreirajDomacinaRezultat";
}

<h2>Rezultat kreiranja domacina</h2>
<br />
<form action="/User/Preusmeri" method="post">
    <p> @ViewBag.Message</p>
    <input type="submit" value="Nazad">
</form>     
