
@{
    ViewBag.Title = "OdobriKomentarRez";
}

<h2>Odobri komentar rezultat akcije</h2>
<form action="/User/Preusmeri" method="post">
    <p> @ViewBag.Message</p>
    <input type="submit" value="Nazad" />
</form>

