
@{
    ViewBag.Title = "RezultatBrisanja";
}

<h2>Rezultat brisanja </h2>
<form action="/User/Preusmeri" method="post">
    <p> @ViewBag.Message</p>
    <input type="submit" value="Nazad" />
</form>
