
@{
    ViewBag.Title = "UploadResult";
}

<html>
    <head>
        <script>
                function goBack() {
                    window.history.back();
                }
        </script>
    </head>
    <body>
        <h2>UploadResult</h2>
        <p>@ViewBag.Message</p>
        <br />
        <button onclick="goBack()">Nazad</button>
    </body>
</html>


